/*=========================================================*/
/*Tho dang*/
/*=========================================================*/
@import "vars";
@import "functions";
@import "default";
@import "custom-default";
@import "extend/icomoon";

@mixin box-shadow($shadow...) {
  -webkit-box-shadow: $shadow; // iOS <4.3 & Android <4.1
          box-shadow: $shadow;
}
@mixin reset-filter() {
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
$cursor-disabled:                not-allowed !default;

$line-height-base:        1.428571429 !default; // 20/14

//== Dropdowns

$font-size-base:          14px !default;
$font-size-small:         ceil(($font-size-base * 0.85)) !default; // ~12px

$border-radius-base:        4px !default;

$caret-width-base:          4px !default;
$zindex-dropdown: 99;


// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
// Navbar collapse
//** Point at which the navbar becomes uncollapsed.
$grid-float-breakpoint:     $screen-sm-min !default;
//** Point at which the navbar begins collapsing.
$grid-float-breakpoint-max: ($grid-float-breakpoint - 1) !default;

//
//## Dropdown menu container and contents.

//** Background for the dropdown menu.
$dropdown-bg:                    #fff !default;
//** Dropdown menu `border-color`.
$dropdown-border:                rgba(0,0,0,.15) !default;
//** Dropdown menu `border-color` **for IE8**.
$dropdown-fallback-border:       #ccc !default;
//** Divider color for between dropdown items.
$dropdown-divider-bg:            #e5e5e5 !default;

//** Dropdown link text color.
$dropdown-link-color:            gray !default;
//** Hover color for dropdown links.
$dropdown-link-hover-color:      darken(gray, 5%) !default;
//** Hover background for dropdown links.
$dropdown-link-hover-bg:         #f5f5f5 !default;

//** Active dropdown menu item text color.
$dropdown-link-active-color:     $yellow !default;
//** Active dropdown menu item background color.
$dropdown-link-active-bg:        #fff !default;

//** Disabled dropdown menu item background color.
$dropdown-link-disabled-color:   gray !default;

//** Text color for headers within dropdown menus.
$dropdown-header-color:          gray !default;

//** Deprecated `$dropdown-caret-color` as of v3.1.0
$dropdown-caret-color:           #000 !default;


@import "extend/dropdowns";


@import "layout";
@import "component";
@import "private";

@import "form";
@import "header";
@import "menu";

@import "blog";
@import "single";
@import "404";
@import "res";




/*=========================================================*/

