@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon/fonts/icomoon.eot?ui2i8x');
  src:  url('../fonts/icomoon/fonts/icomoon.eot?ui2i8x#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/fonts/icomoon.ttf?ui2i8x') format('truetype'),
    url('../fonts/icomoon/fonts/icomoon.woff?ui2i8x') format('woff'),
    url('../fonts/icomoon/fonts/icomoon.svg?ui2i8x#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
  content: "\e95c";
}
.icon-calendar-o:before {
  content: "\e95d";
}
.icon-linkedin:before {
  content: "\e95e";
}
.icon-plus:before {
  content: "\e924";
}
.icon-minus:before {
  content: "\e923";
}
.icon-facebook:before {
  content: "\e959";
}
.icon-pinterest:before {
  content: "\e95a";
}
.icon-twitter:before {
  content: "\e95b";
}
.icon-t62:before {
  content: "\e958";
  color: #7d7d7d;
}
.icon-28:before {
  content: "\e957";
}
.icon-161:before {
  content: "\e942";
}
.icon-171:before {
  content: "\e955";
}
.icon-t41:before {
  content: "\e92f";
}
.icon-t59:before {
  content: "\e956";
}
.icon-t22:before {
  content: "\e93d";
}
.icon-t36:before {
  content: "\e954";
}
.icon-t1:before {
  content: "\e900";
}
.icon-t2:before {
  content: "\e902";
}
.icon-t3:before {
  content: "\e903";
}
.icon-t4:before {
  content: "\e906";
}
.icon-t5:before {
  content: "\e907";
}
.icon-t6:before {
  content: "\e90b";
}
.icon-t7:before {
  content: "\e913";
}
.icon-t8:before {
  content: "\e915";
}
.icon-t9:before {
  content: "\e916";
}
.icon-t10:before {
  content: "\e919";
}
.icon-t11:before {
  content: "\e91a";
}
.icon-t12:before {
  content: "\e91b";
}
.icon-t13:before {
  content: "\e920";
}
.icon-t14:before {
  content: "\e925";
}
.icon-t15:before {
  content: "\e926";
}
.icon-t16:before {
  content: "\e927";
}
.icon-t17:before {
  content: "\e92a";
}
.icon-t18:before {
  content: "\e92b";
}
.icon-t19:before {
  content: "\e92c";
}
.icon-t20:before {
  content: "\e92d";
}
.icon-t21:before {
  content: "\e92e";
}
.icon-t23:before {
  content: "\e930";
}
.icon-t24:before {
  content: "\e931";
}
.icon-t25:before {
  content: "\e932";
}
.icon-t26:before {
  content: "\e933";
}
.icon-t27:before {
  content: "\e934";
}
.icon-t28:before {
  content: "\e935";
}
.icon-t29:before {
  content: "\e936";
}
.icon-t30:before {
  content: "\e937";
}
.icon-t31:before {
  content: "\e938";
}
.icon-t32:before {
  content: "\e939";
}
.icon-t33:before {
  content: "\e93a";
}
.icon-t34:before {
  content: "\e93b";
}
.icon-t35:before {
  content: "\e93c";
}
.icon-t37:before {
  content: "\e93e";
}
.icon-t38:before {
  content: "\e93f";
}
.icon-t39:before {
  content: "\e940";
}
.icon-t40:before {
  content: "\e941";
}
.icon-t42:before {
  content: "\e943";
}
.icon-t43:before {
  content: "\e944";
}
.icon-t44:before {
  content: "\e945";
}
.icon-t45:before {
  content: "\e946";
}
.icon-t46:before {
  content: "\e947";
}
.icon-t47:before {
  content: "\e948";
}
.icon-t48:before {
  content: "\e949";
}
.icon-t49:before {
  content: "\e94a";
}
.icon-t50:before {
  content: "\e94b";
}
.icon-t51:before {
  content: "\e94c";
}
.icon-t52:before {
  content: "\e94d";
}
.icon-t53:before {
  content: "\e94e";
}
.icon-t54:before {
  content: "\e94f";
}
.icon-t55:before {
  content: "\e950";
}
.icon-t56:before {
  content: "\e951";
}
.icon-t57:before {
  content: "\e952";
}
.icon-t58:before {
  content: "\e953";
}
.icon-2:before {
  content: "\e901";
}
.icon-1:before {
  content: "\e929";
}
.icon-9:before {
  content: "\e928";
}
.icon-8:before {
  content: "\e90a";
}
.icon-3:before {
  content: "\e908";
}
.icon-4:before {
  content: "\e909";
}
.icon-5:before {
  content: "\e9000";
}
.icon-10:before {
  content: "\e904";
}
.icon-6:before {
  content: "\e905";
}
.icon-11:before {
  content: "\e90c";
}
.icon-12:before {
  content: "\e90d";
}
.icon-13:before {
  content: "\e90e";
}
.icon-14:before {
  content: "\e90f";
}
.icon-16:before {
  content: "\e910";
}
.icon-17:before {
  content: "\e911";
}
.icon-18:before {
  content: "\e912";
}
.icon-7:before {
  content: "\e914";
}
.icon-23:before {
  content: "\e917";
}
.icon-24:before {
  content: "\e918";
}
.icon-25:before {
  content: "\e91c";
}
.icon-22:before {
  content: "\e91d";
}
.icon-21:before {
  content: "\e91e";
}
.icon-20:before {
  content: "\e91f";
}
.icon-19:before {
  content: "\e921";
}
.icon-15:before {
  content: "\e922";
}

// @font-face { font-family: 'icomoon'; src: url("../fonts/icomoon/icomoon.eot?rskj5"); src: url("../fonts/icomoon/icomoon.eot?rskj5#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?rskj5") format("truetype"), url("../fonts/icomoon/icomoon.woff?rskj5") format("woff"), url("../fonts/icomoon/icomoon.svg?rskj5#icomoon") format("svg"); font-weight: normal; font-style: normal }
// [class*=" icon-"],
// [class^=icon-] { font-family: 'icomoon' !important; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale }
// .icon-facebook:before { content: "\e959" }
// .icon-pinterest:before { content: "\e95a" }
// .icon-twitter:before { content: "\e95b" }
// .icon-t62:before { content: "\e958" }
// .icon-28:before { content: "\e957" }
// .icon-161:before { content: "\e942" }
// .icon-171:before { content: "\e955" }
// .icon-t41:before { content: "\e92f" }
// .icon-t59:before { content: "\e956" }
// .icon-t22:before { content: "\e93d" }
// .icon-t36:before { content: "\e954" }
// .icon-t1:before { content: "\e900" }
// .icon-t2:before { content: "\e902" }
// .icon-t3:before { content: "\e903" }
// .icon-t4:before { content: "\e906" }
// .icon-t5:before { content: "\e907" }
// .icon-t6:before { content: "\e90b" }
// .icon-t7:before { content: "\e913" }
// .icon-t8:before { content: "\e915" }
// .icon-t9:before { content: "\e916" }
// .icon-t10:before { content: "\e919" }
// .icon-t11:before { content: "\e91a" }
// .icon-t12:before { content: "\e91b" }
// .icon-t13:before { content: "\e920" }
// .icon-t14:before { content: "\e925" }
// .icon-t15:before { content: "\e926" }
// .icon-t16:before { content: "\e927" }
// .icon-t17:before { content: "\e92a" }
// .icon-t18:before { content: "\e92b" }
// .icon-t19:before { content: "\e92c" }
// .icon-t20:before { content: "\e92d" }
// .icon-t21:before { content: "\e92e" }
// .icon-t23:before { content: "\e930" }
// .icon-t24:before { content: "\e931" }
// .icon-t25:before { content: "\e932" }
// .icon-t26:before { content: "\e933" }
// .icon-t27:before { content: "\e934" }
// .icon-t28:before { content: "\e935" }
// .icon-t29:before { content: "\e936" }
// .icon-t30:before { content: "\e937" }
// .icon-t31:before { content: "\e938" }
// .icon-t32:before { content: "\e939" }
// .icon-t33:before { content: "\e93a" }
// .icon-t34:before { content: "\e93b" }
// .icon-t35:before { content: "\e93c" }
// .icon-t37:before { content: "\e93e" }
// .icon-t38:before { content: "\e93f" }
// .icon-t39:before { content: "\e940" }
// .icon-t40:before { content: "\e941" }
// .icon-t42:before { content: "\e943" }
// .icon-t43:before { content: "\e944" }
// .icon-t44:before { content: "\e945" }
// .icon-t45:before { content: "\e946" }
// .icon-t46:before { content: "\e947" }
// .icon-t47:before { content: "\e948" }
// .icon-t48:before { content: "\e949" }
// .icon-t49:before { content: "\e94a" }
// .icon-t50:before { content: "\e94b" }
// .icon-t51:before { content: "\e94c" }
// .icon-t52:before { content: "\e94d" }
// .icon-t53:before { content: "\e94e" }
// .icon-t54:before { content: "\e94f" }
// .icon-t55:before { content: "\e950" }
// .icon-t56:before { content: "\e951" }
// .icon-t57:before { content: "\e952" }
// .icon-t58:before { content: "\e953" }
// .icon-2:before { content: "\e901" }
// .icon-1:before { content: "\e929" }
// .icon-9:before { content: "\e928" }
// .icon-8:before { content: "\e90a" }
// .icon-3:before { content: "\e908" }
// .icon-4:before { content: "\e909" }
// .icon-5:before { content: "\e9000" }
// .icon-10:before { content: "\e904" }
// .icon-6:before { content: "\e905" }
// .icon-11:before { content: "\e90c" }
// .icon-12:before { content: "\e90d" }
// .icon-13:before { content: "\e90e" }
// .icon-14:before { content: "\e90f" }
// .icon-16:before { content: "\e910" }
// .icon-17:before { content: "\e911" }
// .icon-18:before { content: "\e912" }
// .icon-7:before { content: "\e914" }
// .icon-23:before { content: "\e917" }
// .icon-24:before { content: "\e918" }
// .icon-25:before { content: "\e91c" }
// .icon-22:before { content: "\e91d" }
// .icon-21:before { content: "\e91e" }
// .icon-20:before { content: "\e91f" }
// .icon-19:before { content: "\e921" }
// .icon-15:before { content: "\e922" }
// .icon-plus:before { content: "\e924" }
// .icon-minus:before { content: "\e923" }